<ol>
  <li>
    ფორმა არ არის გამართული. გაშვებისას ექნება შეცდომები. იპოვე და გამოსაწორე
  </li>

  <li>
    რეგისტრაციის ფორმას უნდა ჰქონდეს 3 Address შესაყვანი ველი. გამოიყენეთ FormGroup მისამართის შესაქმნელად
  </li>

  <li>
    თუ Year of Birth <span style="color: red;"> მეტია </span> 2015 წელზე მაშინ პასპორტის ველი სავალდებულო უნდა იყოს.
  </li>

  <li>
    თუ Year of Birth <span style="color: red;">ნაკლებია</span> 2015 წელზე მაშინ პასპორტის ველი disabled უნდა იყოს.
  </li>

  <li>
    ფორმის ყველა ველის შევსება აუცილებელია. Passport Number -ის შემხვევაში გასათვალისწინებელია დაბადების წელი
  </li>

  <li>
    ერორ ტექსტის დაწერისას უნდა გამოდიოდეს შეყვალინილი მნიშვნელობაც. მაგალითად: თუ იმეილის ველში ჩაიწერა
    {{'test@@..'}},შეცდომა უნდა გამოვიდეს: ემაილი {{ 'test@@..' }} არასწორია.
  </li>

  <li>
    შეცვდომები უნდა მოდიოდეს წითლად შესაბამისი ველის დაბლა
  </li>

  <li>
    nickName მაქსიმალიური სიგრძე არ უნდა აღემატებოდეს 10 სიმბოლოს. მეტის შეყვანისას დაიწეროს შესაბამისი შეცდომა.
  </li>

  <li>
    ერორებისთცის გააკეთეთ ერთი კომპონენტი რომელიც დააგენერირებს ერორის მესიჯებს
  </li>

  <li>First Name ში და last name ში არ შეიძლება შედიოდეს მძიმე, ძაღლიკა და წერტილი</li>

  <li>Email ში ძაღლუკას წინ აუცილებელია იყოს მენიმუმ 4 სიმბოლო</li>

  <li>პასსპორტში დასაშვებია მხოლოდ ციფრების შეყვანა</li>

  <li>Submit ზე დაწერისას აუცილებელია დაილოგოს ყველა ველი.</li>
</ol>

<form [formGroup]="formGroup">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" value="" id="firstName">
  </div>

  <div>
    <label for="lastName">Last Name</label>
    <input type="text" value="" id="lastName">
  </div>

  <div>
    <label for="nickName">Nick Name</label>
    <input type="text" value="" id="nickName">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" value="" id="email">
  </div>

  <div>
    <label for="birthYear">Year of Birth</label>
    <select id="birthYear">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>

  <div>
    <label for="passNumber">Passport Number</label>
    <input type="text" id="passNumber">
  </div>

  <button type="submit" (click)="onSubmit()">Submit</button>
</form>